/* * * * * * * * * * * * * * * * *
	Start mobile styles
* * * * * * * * * * * * * * * * */

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("https://images.squarespace-cdn.com/content/v1/5a54e4db6957da43d7d0a68a/1522780698081-HU4R9P4LNGBRWXG21SIL/ke17ZwdGBToddI8pDm48kGEdLrJdqAeMSJz41xzDvnl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicNF9zhRDRVOFHrvSK2QoXbA_0gvHqAA-DZc3U0Z_zIy8g/DSCF0443.jpg?format=1500w");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	height: 400px;
}

#masthead {
	padding: 0;
	margin: 0;
}

#masthead {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
	background-color: white;
}

#header {
	padding: 5px;			/*TEMP*/
}

#menu {
	float: right;
}

#menu, #home {
	text-decoration: underline;
	color: #070;
	background-color: rgba(0,0,0,0);
	border-style: none;
}

#menu:hover, #home:hover {
	background-color: #ff0;
}

#nav {
	display: none;
	flex-direction: column;
}

.nav {
	border-style: none none none solid;
	border-color: rgba(0,0,0,0);
	padding: 5px 15px;
	text-decoration: none;
	color: black;
}

.nav:visited {
	color: black;
}

.nav:hover {
	border-style: none none none solid;
	border-color: #070;
	background-color: #ff0;
}

.page-content {
	margin-top: 40vh;
}

a {
	color: #070;
	text-decoration: underline;
}

a:hover {
	background-color: #ff0;
}

a:visited{
	color: #0a0;
}

p, ul, ol {
	margin: 15px 0;
}

p {
	color: #444;
	font-size: 100%;
	font-weight: 100;
	margin: 15px 0;
	padding: 0;
}

h1 {
	color: #000;
	font-size: 200%;
}

h2 {
	color: #000;
	font-size: 150%;
	font-weight: 400;
}

blockquote {
	margin: 15px;
	padding: 0 10px;
	border: 3px solid #070;
}

li {
	color: #444;
}

.home {
	padding: 0px;
}

.placard {
	background-color: white;
	border-radius: 4px;
	padding: 5px;
	margin: 8px;
}

.attention {
	background-color: #ffffcc;
	border: 1px solid #ffdd00;
}

.about {
	background-color: #ddffdd;
	border: 1px solid #99ff99;
}

ul.flex-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

li.flex-item {
	margin: 0;
	padding: 0;
}

/* * * * * * * * * * * * * * * *
	End mobile styles
* * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * *
	Desktop styles only below this point
* * * * * * * * * * * * * * * * * * * * * * * * * */

@media only screen and (min-width: 768px) {

	.page-content{
		 margin: 40vh calc((100% - 768px)/2);
	}

	.wrapper {
		margin-bottom: 8px;
	}

	a:active {
		background-color: inherit;
	}

	#header {
		display: flex;
		justify-content: center;
	}

	#menu {
		display: none;
	}

	#nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.nav {
		border-style: none none solid none;
		border-color: rgba(0,0,0,0);
		text-decoration: none;
		color: black;
	}

	.nav:visited {
		color: black;
	}

	.nav:hover {
		border-style: none none solid none;
		border-color: #070;
		background-color: inherit;
	}

	.nav:active {
		background-color: #ff0;
	}

	.placard {
		padding: 5px 20px;
	}

	ul.flex-container {
		flex-direction: row;
	}

	li.flex-item {
		flex-grow: 1;
		flex-basis: 0;
	}

	li.middlechild {
		margin: 0 20px;
	}

	@supports (display: grid) {

		.placard {
			margin: 0;
		}

		.grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-column-gap: 8px;
			grid-row-gap: 8px;
			margin-bottom: 8px;
		}

		.attention {
			grid-column: 1 / span 3;
		}

		.about {
			grid-row: 2 / span 2;
		}

		ul.flex-container {
			flex-direction: column;
			margin: 0;
			padding: 0;
		}

		li.flex-item {
			margin: 0;
			padding: 0;
		}

	}

}
